RECALL_API_KEY=
GEMINI_API_KEY=


# now change the main.py file to give a interactive terminal experience that happens when the main.py file is run so there will be 5 modes check_token_price , token_balace,trade_history,execute_trads,view_portfolio 

# when user select something you ask it the required parameter and run the fucntion from the corrasponding file 
